<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

<h1 align=center><font size = 5>Assignment: Notebook for Peer Assignment</font></h1>

# Introduction

Using this Python notebook you will:

1.  Understand three Chicago datasets
2.  Load the three datasets into three tables in a SQLIte database
3.  Execute SQL queries to answer assignment questions

## Understand the datasets

To complete the assignment problems in this notebook you will be using three datasets that are available on the city of Chicago's Data Portal:

1.  <a href="https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Socioeconomic Indicators in Chicago</a>
2.  <a href="https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Chicago Public Schools</a>
3.  <a href="https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Chicago Crime Data</a>

### 1. Socioeconomic Indicators in Chicago

This dataset contains a selection of six socioeconomic indicators of public health significance and a “hardship index,” for each Chicago community area, for the years 2008 – 2012.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
[https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2](https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### 2. Chicago Public Schools

This dataset shows all school level performance data used to create CPS School Report Cards for the 2011-2012 school year. This dataset is provided by the city of Chicago's Data Portal.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
[https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t](https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### 3. Chicago Crime Data

This dataset reflects reported incidents of crime (with the exception of murders where data exists for each victim) that occurred in the City of Chicago from 2001 to present, minus the most recent seven days.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
[https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2](https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### Download the datasets

This assignment requires you to have these three tables populated with a subset of the whole datasets.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the links below to download and save the datasets (.CSV files):

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCensusData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01" target="_blank">Chicago Census Data</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01" target="_blank">Chicago Public Schools</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCrimeData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01" target="_blank">Chicago Crime Data</a>

**NOTE:** Ensure you have downloaded the datasets using the links above instead of directly from the Chicago Data Portal. The versions linked here are subsets of the original datasets and have some of the column names modified to be more database friendly which will make it easier to complete this assignment.

### Store the datasets in database tables

To analyze the data using SQL, it first needs to be loaded into SQLite DB.
We will create three tables in as under:

1.  **CENSUS_DATA**
2.  **CHICAGO_PUBLIC_SCHOOLS**
3.  **CHICAGO_CRIME_DATA**

Let us now load the ipython-sql  extension and establish a connection with the database

* Here you will be loading the csv files into the pandas Dataframe and then loading the data into the above mentioned sqlite tables.

* Next you will be connecting to the sqlite database  **FinalDB**.

Refer to the previous lab for hints .

<a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing_SQLite.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

In [5]:
%load_ext sql

The sql module is not an IPython extension.

In [6]:
#!pip install -q pandas==1.1.5

In [31]:
import csv, sqlite3

con = sqlite3.connect("FinalDB.db")
cur = con.cursor()
#!pip install -q pandas==1.1.5

In [32]:
%sql sqlite:///FinalDB.db

UsageError: Line magic function `%sql` not found.

In [405]:
import pandas
Crime_pd = pandas.read_csv('ChicagoCrimeData.csv')
Crime_pd.to_sql("ChicagoCrimeData",con,if_exists='replace',index=False)
School_pd = pandas.read_csv('ChicagoPublicSchools.csv')
School_pd.to_sql("ChicagoPublicSchool",con,if_exists='replace',index=False)
Census_pd = pandas.read_csv('ChicagoCensusData.csv')
Census_pd.to_sql("ChicagoCensusData",con,if_exists='replace',index=False)
Census_pd
#for number,item in enumerate(Crime_pd['DESCRIPTION']):
#    print(number, item)

C:\Users\brian\Anaconda3\lib\site-packages\pandas\core\generic.py:2882: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  method=method,

,COMMUNITY_AREA_NUMBER,COMMUNITY_AREA_NAME,PERCENT_OF_HOUSING_CROWDED,PERCENT_HOUSEHOLDS_BELOW_POVERTY,PERCENT_AGED_16__UNEMPLOYED,PERCENT_AGED_25__WITHOUT_HIGH_SCHOOL_DIPLOMA,PERCENT_AGED_UNDER_18_OR_OVER_64,PER_CAPITA_INCOME,HARDSHIP_INDEX
0,1.0,Rogers Park,7.7,23.6,8.7,18.2,27.5,23939,39.0
1,2.0,West Ridge,7.8,17.2,8.8,20.8,38.5,23040,46.0
2,3.0,Uptown,3.8,24.0,8.9,11.8,22.2,35787,20.0
3,4.0,Lincoln Square,3.4,10.9,8.2,13.4,25.5,37524,17.0
4,5.0,North Center,0.3,7.5,5.2,4.5,26.2,57123,6.0
...,...,...,...,...,...,...,...,...,...
73,74.0,Mount Greenwood,1.0,3.4,8.7,4.3,36.8,34381,16.0
74,75.0,Morgan Park,0.8,13.2,15.0,10.8,40.3,27149,30.0
75,76.0,O'Hare,3.6,15.4,7.1,10.9,30.3,25828,24.0
76,77.0,Edgewater,4.1,18.2,9.2,9.7,23.8,33385,19.0
77,NaN,CHICAGO,4.7,19.7,12.9,19.5,33.5,28202,NaN

## Problems

Now write and execute SQL queries to solve assignment problems

### Problem 1

##### Find the total number of crimes recorded in the CRIME table.

In [70]:
cur.execute('''SELECT COUNT(*) FROM ChicagoCrimeData''')
output_all = cur.fetchall()
for row_all in output_all:
  print(row_all)

(533,)

### Problem 2

##### List community areas with per capita income less than 11000.

In [71]:
cur.execute('''SELECT * FROM ChicagoCensusData WHERE PER_CAPITA_INCOME<11000''')
output_all = cur.fetchall()
for row_all in output_all:
    print(row_all)

(26.0, 'West Garfield Park', 9.4, 41.7, 25.8, 24.5, 43.6, 10934, 92.0)
(30.0, 'South Lawndale', 15.2, 30.7, 15.8, 54.8, 33.8, 10402, 96.0)
(37.0, 'Fuller Park', 3.2, 51.2, 33.9, 26.6, 44.9, 10432, 97.0)
(54.0, 'Riverdale', 5.8, 56.5, 34.6, 27.5, 51.5, 8201, 98.0)

### Problem 3

##### List all case numbers for crimes  involving minors?(children are not considered minors for the purposes of crime analysis)

In [182]:
cur.execute('''SELECT * FROM ChicagoCrimeData WHERE DESCRIPTION LIKE "%CHILD%"''')
output_all = cur.fetchall()
for row_all in output_all:
    print(row_all)

(5766654, 'HN567387', '2007-09-02', '026XX W BELMONT AVE', '1754', 'OFFENSE INVOLVING CHILDREN', 'AGG SEX ASSLT OF CHILD FAM MBR', 'CHURCH/SYNAGOGUE/PLACE OF WORSHIP', 0, 0, 1411, 14, 1.0, 21.0, '2', 1158166.0, 1921161.0, 2007, 41.93941471, -87.69410322, '(41.939414712, -87.694103222)')
(6986273, 'HR391350', '2009-06-23', '015XX S KOLIN AVE', '1753', 'OFFENSE INVOLVING CHILDREN', 'SEX ASSLT OF CHILD BY FAM MBR', 'APARTMENT', 0, 1, 1012, 10, 24.0, 29.0, '2', 1147638.0, 1892092.0, 2009, 41.85985521, -87.73354382, '(41.859855212, -87.733543816)')
(5276766, 'HN144152', '2007-01-26', '050XX W VAN BUREN ST', '1792', 'KIDNAPPING', 'CHILD ABDUCTION/STRANGER', 'STREET', 0, 0, 1533, 15, 29.0, 25.0, '20', 1143050.0, 1897546.0, 2007, 41.87490841, -87.75024931, '(41.874908413, -87.750249307)')

### Problem 4

##### List all kidnapping crimes involving a child?

In [184]:
cur.execute('''SELECT * FROM ChicagoCrimeData WHERE DESCRIPTION LIKE "%ABDUCTION%"''')
output_all = cur.fetchall()
for row_all in output_all:
    print(row_all)

(5276766, 'HN144152', '2007-01-26', '050XX W VAN BUREN ST', '1792', 'KIDNAPPING', 'CHILD ABDUCTION/STRANGER', 'STREET', 0, 0, 1533, 15, 29.0, 25.0, '20', 1143050.0, 1897546.0, 2007, 41.87490841, -87.75024931, '(41.874908413, -87.750249307)')

### Problem 5

##### What kinds of crimes were recorded at schools?

In [261]:
cur.execute('''SELECT PRIMARY_TYPE FROM ChicagoCrimeData WHERE LOCATION_DESCRIPTION LIKE "%SCHOOL%"''')
output_all = cur.fetchall()
for row_all in output_all:
    print(row_all)

('BATTERY',)
('BATTERY',)
('BATTERY',)
('BATTERY',)
('BATTERY',)
('CRIMINAL DAMAGE',)
('NARCOTICS',)
('NARCOTICS',)
('ASSAULT',)
('CRIMINAL TRESPASS',)
('PUBLIC PEACE VIOLATION',)
('PUBLIC PEACE VIOLATION',)

### Problem 6

##### List the average safety score for each type of school.

In [346]:
cur.execute('''RETRIEVE * FROM ChicagoPublicSchool''')
output_all = cur.fetchall()
for row_all in output_all:
    print(row_all)

OperationalError: near "RETRIEVE": syntax error

In [355]:
cur.execute('''SELECT AVG(SAFETY_SCORE) FROM ChicagoPublicSchool GROUP BY "ES%"''')
output_all = cur.fetchall()
for row_all in output_all:
    print(row_all)
cur.execute('''SELECT AVG(SAFETY_SCORE) FROM ChicagoPublicSchool GROUP BY "MS%"''')
output_all = cur.fetchall()
for row_all in output_all:
    print(row_all)
cur.execute('''SELECT AVG(SAFETY_SCORE) FROM ChicagoPublicSchool GROUP BY "HS"''')
output_all = cur.fetchall()
for row_all in output_all:
    print(row_all)

(49.50487329434698,)
(49.50487329434698,)
(49.50487329434698,)

### Problem 7

##### List 5 community areas with highest % of households below poverty line

In [369]:
cur.execute('''SELECT * FROM ChicagoCensusData ORDER BY PERCENT_HOUSEHOLDS_BELOW_POVERTY DESC''')
output_all = cur.fetchall()
for row_all in output_all:
    print(row_all)

(54.0, 'Riverdale', 5.8, 56.5, 34.6, 27.5, 51.5, 8201, 98.0)
(37.0, 'Fuller Park', 3.2, 51.2, 33.9, 26.6, 44.9, 10432, 97.0)
(68.0, 'Englewood', 3.8, 46.6, 28.0, 28.5, 42.5, 11888, 94.0)
(29.0, 'North Lawndale', 7.4, 43.1, 21.2, 27.6, 42.7, 12034, 87.0)
(27.0, 'East Garfield Park', 8.2, 42.4, 19.6, 21.3, 43.2, 12961, 83.0)
(40.0, 'Washington Park', 5.6, 42.1, 28.6, 25.4, 42.8, 13785, 88.0)
(26.0, 'West Garfield Park', 9.4, 41.7, 25.8, 24.5, 43.6, 10934, 92.0)
(34.0, 'Armour Square', 5.7, 40.1, 16.7, 34.5, 38.3, 16148, 82.0)
(36.0, 'Oakland', 1.3, 39.7, 28.7, 18.4, 40.4, 19252, 78.0)
(67.0, 'West Englewood', 4.8, 34.4, 35.9, 26.3, 40.7, 11317, 89.0)
(23.0, 'Humboldt park', 14.8, 33.9, 17.3, 35.4, 38.0, 13781, 85.0)
(47.0, 'Burnside', 6.8, 33.0, 18.6, 19.3, 42.7, 12515, 79.0)
(43.0, 'South Shore', 2.8, 31.1, 20.0, 14.0, 35.7, 19398, 55.0)
(30.0, 'South Lawndale', 15.2, 30.7, 15.8, 54.8, 33.8, 10402, 96.0)
(42.0, 'Woodlawn', 2.9, 30.7, 23.4, 16.5, 36.1, 18672, 58.0)
(46.0, 'South Chicago', 4.7, 29.8, 19.7, 26.6, 41.1, 16579, 75.0)
(35.0, 'Douglas', 1.8, 29.6, 18.2, 14.3, 30.7, 23791, 47.0)
(69.0, 'Greater Grand Crossing', 3.6, 29.6, 23.0, 16.5, 41.0, 17285, 66.0)
(38.0, 'Grand Boulevard', 3.3, 29.3, 24.3, 15.9, 39.5, 23472, 57.0)
(51.0, 'South Deering', 4.0, 29.2, 16.3, 21.0, 39.5, 14685, 65.0)
(61.0, 'New City', 11.9, 29.0, 23.0, 41.5, 38.9, 12765, 91.0)
(25.0, 'Austin', 6.3, 28.6, 22.6, 24.4, 37.9, 15957, 73.0)
(66.0, 'Chicago Lawn', 7.6, 27.9, 17.1, 31.2, 40.6, 13231, 80.0)
(44.0, 'Chatham', 3.3, 27.8, 24.0, 14.5, 40.3, 18881, 60.0)
(71.0, 'Auburn Gresham', 4.0, 27.6, 28.3, 18.5, 41.9, 15528, 74.0)
(53.0, 'West Pullman', 3.3, 25.9, 19.4, 20.5, 42.1, 16563, 62.0)
(31.0, 'Lower West Side', 9.6, 25.8, 15.8, 40.7, 32.6, 16444, 76.0)
(3.0, 'Uptown', 3.8, 24.0, 8.9, 11.8, 22.2, 35787, 20.0)
(1.0, 'Rogers Park', 7.7, 23.6, 8.7, 18.2, 27.5, 23939, 39.0)
(58.0, 'Brighton Park', 14.4, 23.6, 13.9, 45.1, 39.3, 13089, 84.0)
(63.0, 'Gage Park', 15.8, 23.4, 18.2, 51.5, 38.8, 12171, 93.0)
(39.0, 'Kenwood', 2.4, 21.7, 15.7, 11.3, 35.4, 35911, 26.0)
(50.0, 'Pullman', 1.5, 21.6, 22.8, 13.1, 38.6, 20588, 51.0)
(28.0, 'Near West Side', 3.8, 20.6, 10.7, 9.6, 22.2, 44689, 15.0)
(20.0, 'Hermosa', 6.9, 20.5, 13.1, 41.6, 36.4, 15089, 71.0)
(49.0, 'Roseland', 2.5, 19.8, 20.3, 16.9, 41.2, 17949, 52.0)
(None, 'CHICAGO', 4.7, 19.7, 12.9, 19.5, 33.5, 28202, None)
(14.0, 'Albany Park', 11.3, 19.2, 10.0, 32.9, 32.0, 21323, 53.0)
(52.0, 'East Side', 6.8, 19.2, 12.1, 31.9, 42.8, 17104, 64.0)
(60.0, 'Bridgeport', 4.5, 18.9, 13.7, 22.2, 31.3, 22694, 43.0)
(19.0, 'Belmont Cragin', 10.8, 18.7, 14.6, 37.3, 37.3, 15461, 70.0)
(59.0, 'McKinley Park', 7.2, 18.7, 13.4, 32.9, 35.6, 16954, 61.0)
(41.0, 'Hyde Park', 1.5, 18.4, 8.4, 4.3, 26.2, 39056, 14.0)
(77.0, 'Edgewater', 4.1, 18.2, 9.2, 9.7, 23.8, 33385, 19.0)
(2.0, 'West Ridge', 7.8, 17.2, 8.8, 20.8, 38.5, 23040, 46.0)
(45.0, 'Avalon Park', 1.4, 17.2, 21.1, 10.6, 39.3, 24454, 41.0)
(55.0, 'Hegewisch', 3.3, 17.1, 9.6, 19.2, 42.9, 22677, 44.0)
(73.0, 'Washington Height', 1.1, 16.9, 20.8, 13.7, 42.6, 19713, 48.0)
(22.0, 'Logan Square', 3.2, 16.8, 8.2, 14.8, 26.2, 31908, 23.0)
(62.0, 'West Elsdon', 11.1, 15.6, 16.7, 37.0, 37.7, 15754, 69.0)
(76.0, "O'Hare", 3.6, 15.4, 7.1, 10.9, 30.3, 25828, 24.0)
(18.0, 'Montclaire', 8.1, 15.3, 13.8, 23.5, 38.6, 22014, 50.0)
(21.0, 'Avondale', 6.0, 15.3, 9.2, 24.7, 31.0, 20039, 42.0)
(65.0, 'West Lawn', 5.8, 14.9, 9.6, 33.6, 39.6, 16907, 56.0)
(24.0, 'West Town', 2.3, 14.7, 6.6, 12.9, 21.7, 43198, 10.0)
(32.0, 'Loop', 1.5, 14.7, 5.7, 3.1, 13.5, 65526, 3.0)
(57.0, 'Archer Heights', 8.5, 14.1, 16.5, 35.9, 39.2, 16134, 67.0)
(33.0, 'Near South Side', 1.3, 13.8, 4.9, 7.4, 21.8, 59077, 7.0)
(13.0, 'North Park', 3.9, 13.2, 9.9, 14.4, 39.0, 26576, 33.0)
(75.0, 'Morgan Park', 0.8, 13.2, 15.0, 10.8, 40.3, 27149, 30.0)
(16.0, 'Irving Park', 6.3, 13.1, 10.0, 22.4, 31.6, 27249, 34.0)
(8.0, 'Near North Side', 1.9, 12.9, 7.0, 2.5, 22.6, 88669, 1.0)
(7.0, 'Lincoln Park', 0.8, 12.3, 5.1, 3.6, 21.5, 71551, 2.0)
(15.0, 'Portage Park', 4.1, 11.6, 12.6, 19.3, 34.0, 24336, 35.0)
(48.0, 'Calumet Heights', 2.1, 11.5, 20.0, 11.0, 44.0, 28887, 38.0)
(6.0, 'Lake View', 1.1, 11.4, 4.7, 2.6, 17.0, 60058, 5.0)
(4.0, 'Lincoln Square', 3.4, 10.9, 8.2, 13.4, 25.5, 37524, 17.0)
(17.0, 'Dunning', 5.2, 10.6, 10.0, 16.2, 33.6, 26282, 28.0)
(70.0, 'Ashburn', 4.0, 10.4, 11.7, 17.7, 36.9, 23482, 37.0)
(64.0, 'Clearing', 2.7, 8.9, 9.5, 18.8, 37.6, 25113, 29.0)
(56.0, 'Garfield Ridge', 2.6, 8.8, 11.3, 19.3, 38.1, 26353, 32.0)
(11.0, 'Jefferson Park', 2.7, 8.6, 12.4, 13.4, 35.5, 27751, 25.0)
(5.0, 'North Center', 0.3, 7.5, 5.2, 4.5, 26.2, 57123, 6.0)
(12.0, 'Forest Glen', 1.1, 7.5, 6.8, 4.9, 40.5, 44164, 11.0)
(10.0, 'Norwood Park', 2.0, 5.4, 9.0, 11.5, 39.5, 32875, 21.0)
(72.0, 'Beverly', 0.9, 5.1, 8.0, 3.7, 40.5, 39523, 12.0)
(74.0, 'Mount Greenwood', 1.0, 3.4, 8.7, 4.3, 36.8, 34381, 16.0)
(9.0, 'Edison Park', 1.1, 3.3, 6.5, 7.4, 35.3, 40959, 8.0)

### Problem 8

##### Which community area is most crime prone?

In [394]:
cur.execute('''SELECT community_area_number FROM ChicagoCrimeData GROUP BY community_area_number ORDER BY COUNT(*) DESC''')
output_all = cur.fetchall()
for row_all in output_all:
    print(row_all)

(25.0,)
(None,)
(23.0,)
(68.0,)
(29.0,)
(28.0,)
(8.0,)
(71.0,)
(24.0,)
(67.0,)
(66.0,)
(69.0,)
(49.0,)
(6.0,)
(61.0,)
(58.0,)
(26.0,)
(46.0,)
(43.0,)
(31.0,)
(22.0,)
(70.0,)
(44.0,)
(42.0,)
(38.0,)
(30.0,)
(27.0,)
(19.0,)
(16.0,)
(63.0,)
(32.0,)
(2.0,)
(53.0,)
(21.0,)
(1.0,)
(48.0,)
(35.0,)
(15.0,)
(14.0,)
(7.0,)
(76.0,)
(72.0,)
(62.0,)
(51.0,)
(45.0,)
(39.0,)
(5.0,)
(3.0,)
(73.0,)
(65.0,)
(50.0,)
(20.0,)
(17.0,)
(10.0,)
(4.0,)
(77.0,)
(64.0,)
(59.0,)
(56.0,)
(54.0,)
(52.0,)
(41.0,)
(37.0,)
(18.0,)
(11.0,)
(75.0,)
(60.0,)
(55.0,)
(47.0,)
(33.0,)
(12.0,)

In [395]:
cur.execute('''SELECT * FROM ChicagoCensusData WHERE community_area_number=25''')
output_all = cur.fetchall()
for row_all in output_all:
    print(row_all)

(25.0, 'Austin', 6.3, 28.6, 22.6, 24.4, 37.9, 15957, 73.0)

Double-click **here** for a hint

<!--
Query for the 'community area number' that is most crime prone.
-->

### Problem 9

##### Use a sub-query to find the name of the community area with highest hardship index

In [407]:
cur.execute('''SELECT (SELECT COMMUNITY_AREA_NAME FROM ChicagoCensusData ORDER BY hardship_index DESC) FROM ChicagoCrimeData''')
output_all = cur.fetchall()
for row_all in output_all:
    print(row_all)

('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)
('Riverdale',)

"\nSELECT a.studentid, a.name, b.total_marks\nFROM student a, marks b\nWHERE a.studentid = b.studentid AND b.total_marks >\n(SELECT total_marks\nFROM marks\nWHERE studentid =  'V002');\n"

### Problem 10

##### Use a sub-query to determine the Community Area Name with most number of crimes?

In [408]:
cur.execute('''SELECT (SELECT COMMUNITY_AREA_NAME FROM ChicagoCrimeData GROUP BY community_area_number ORDER BY COUNT(*) DESC) FROM ChicagoCensusData''')
output_all = cur.fetchall()
for row_all in output_all:
    print(row_all)

('Rogers Park',)
('West Ridge',)
('Uptown',)
('Lincoln Square',)
('North Center',)
('Lake View',)
('Lincoln Park',)
('Near North Side',)
('Edison Park',)
('Norwood Park',)
('Jefferson Park',)
('Forest Glen',)
('North Park',)
('Albany Park',)
('Portage Park',)
('Irving Park',)
('Dunning',)
('Montclaire',)
('Belmont Cragin',)
('Hermosa',)
('Avondale',)
('Logan Square',)
('Humboldt park',)
('West Town',)
('Austin',)
('West Garfield Park',)
('East Garfield Park',)
('Near West Side',)
('North Lawndale',)
('South Lawndale',)
('Lower West Side',)
('Loop',)
('Near South Side',)
('Armour Square',)
('Douglas',)
('Oakland',)
('Fuller Park',)
('Grand Boulevard',)
('Kenwood',)
('Washington Park',)
('Hyde Park',)
('Woodlawn',)
('South Shore',)
('Chatham',)
('Avalon Park',)
('South Chicago',)
('Burnside',)
('Calumet Heights',)
('Roseland',)
('Pullman',)
('South Deering',)
('East Side',)
('West Pullman',)
('Riverdale',)
('Hegewisch',)
('Garfield Ridge',)
('Archer Heights',)
('Brighton Park',)
('McKinley Park',)
('Bridgeport',)
('New City',)
('West Elsdon',)
('Gage Park',)
('Clearing',)
('West Lawn',)
('Chicago Lawn',)
('West Englewood',)
('Englewood',)
('Greater Grand Crossing',)
('Ashburn',)
('Auburn Gresham',)
('Beverly',)
('Washington Height',)
('Mount Greenwood',)
('Morgan Park',)
("O'Hare",)
('Edgewater',)
('CHICAGO',)

Copyright © 2020 This notebook and its source code are released under the terms of the [MIT License](https://bigdatauniversity.com/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).

## Author(s)

<h4> Hima Vasudevan </h4>
<h4> Rav Ahuja </h4>
<h4> Ramesh Sannreddy </h4>

## Contribtuor(s)

<h4> Malika Singla </h4>

## Change log

| Date       | Version | Changed by        | Change Description                             |
| ---------- | ------- | ----------------- | ---------------------------------------------- |
| 2022-03-04 | 2.5     | Lakshmi Holla     | Changed markdown.                   |
| 2021-05-19 | 2.4     | Lakshmi Holla     | Updated the question                           |
| 2021-04-30 | 2.3     | Malika Singla     | Updated the libraries                          |
| 2021-01-15 | 2.2     | Rav Ahuja         | Removed problem 11 and fixed changelog         |
| 2020-11-25 | 2.1     | Ramesh Sannareddy | Updated the problem statements, and datasets   |
| 2020-09-05 | 2.0     | Malika Singla     | Moved lab to course repo in GitLab             |
| 2018-07-18 | 1.0     | Rav Ahuja         | Several updates including loading instructions |
| 2018-05-04 | 0.1     | Hima Vasudevan    | Created initial version                        |

## <h3 align="center"> © IBM Corporation 2020. All rights reserved. <h3/>